@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --blue: #00355f;
  --yellow: #fbb03b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.header_graph {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: 50%;
  margin-bottom: 100px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: 0px 8%;
}

.navbar .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbar .logo {
  padding-top: 10px;
}

.navbar .logo a img {
  height: 50px;
  width: auto;
}

.navbar .nav-links .link {
  margin: 0px 30px;
  font-size: 16px;
  color: var(--yellow);
  font-weight: 600;
  cursor: pointer;
}

.navbar .nav-links .link a {
  text-decoration: none;
  color: var(--yellow);
}

.navbar .nav-links .link a:hover {
  opacity: 0.8;
}

.navbar .nav-links .link button {
  background-color: var(--yellow);
  border: none;
  padding: 14px 29px;

  font-size: 16px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.navbar .nav-links .link button:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 2px;
  background: black;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/** HEADER */
.header {
  margin: 0px 8%;
}

.header .testo h3 {
  width: 45%;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  color: var(--blue);
  margin-top: 27vh;
  margin-bottom: 30px;
}

.header .testo a {
  cursor: pointer;
  padding: 10px 14px;
  color: var(--blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border: 1px var(--blue) solid;
}

.chi-siamo {
  margin: 330px 8% 80px 8%;
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chi-siamo .col-img {
  width: 47%;
}

.chi-siamo .col-img img {
  width: 100%;
}

.chi-siamo .col-testo {
  width: 47%;
}

.chi-siamo .col-testo h4 {
  font-weight: 700;
  font-size: 42px;
  line-height: 125%;
  color: var(--yellow);
  padding-bottom: 15px;
}

.chi-siamo .col-testo p {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: var(--blue);
  margin-bottom: 15px;
}

.info-grafico {
  margin: 0px 8% 0px 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.info-grafico .col-img {
  width: 57%;
}
.info-grafico .col-img img {
  width: 100%;
}

.info-grafico .col-testo {
  width: 38%;
}

.info-grafico .col-testo h4{
    font-weight: 700;
  font-size: 42px;
  line-height: 125%;
  color: var(--yellow);
  padding-bottom: 15px;
}

.accordion {
  background: none;
  border: none;
  border-top: 1px var(--blue) solid;
  cursor: pointer;
  padding: 15px 0px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
}

.accordion:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  font-size: 28px;
  font-weight: 500;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0px;
  background: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding: 0px 0px 15px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--blue);
}

.legenda {
  border: 1px red solid;
  width: 84%;
  margin: 30px 8% 0px 8%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.legenda .single{
  border: 1px black solid;
}


.grafico {
  width: 84%;
  margin: 30px 8% 80px 8%;
}

.youtube {
  margin: 0px 8% 80px 8%;
}
/*
.youtube a{
  text-decoration: none;
}

.youtube a:hover{
  text-decoration: underline;
  text-decoration-color: var(--blue);
}


.youtube h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--blue);
}*/

.youtube p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: var(--blue);
}

.youtube .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 40px;
}

.youtube .container .card {
  width: 30%;
}

.youtube .container .card p {
  text-align: left;
  margin-top: 25px;
  font-size: 18px;
}

.mail-container {
  background-image: url(assets/mail-cover.png);
  width: 100%;
  padding: 40px 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.mail-container .col-testo {
  width: 40%;
}

.mail-container .col-testo h4 {
  font-weight: 700;
  font-size: 42px;
  line-height: 125%;
  text-align: left;
  color: var(--yellow);
}

.mail-container .col-testo p {
  font-weight: 600;
  font-size: 54px;
  line-height: 125%;
  color: white;
}

.mail-container .col-mail {
  width: 55%;
}

.col-mail .form {
  font-family: "Josefin Sans", sans-serif;
  background: #ffffff;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-mail .form .casella {
  width: 45%;
  margin-top: 30px;
}

.col-mail .form .casella p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

.col-mail .form .casella input {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  padding: 13px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--grey);
}

.col-mail .form .casella:nth-child(5) textarea {
  min-height: 170px;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  padding: 13px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--grey);
}

.col-mail .form button {
  font-family: "josefin sans", serif;
  margin-top: 20px;
  background-color: var(--blue);
  border: none;
  padding: 11px 29px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.col-mail .form button:hover {
  opacity: 0.9;
}

.col-mail .form .casella:nth-child(1),
.col-mail .form .casella:nth-child(2) {
  margin-top: 0px;
}

.popup-termini {
  padding: 35px 30px;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  overflow-y: scroll;
  background-color: white;
  border: 1px #595858 solid;
  display: none;
  color: #595858;
}

.popup-termini .bottone button {
  padding: 10px 12px;
  position: absolute;
  right: 20px;
  border: none;
  background-color: #ded9d9;
}

.popup-termini div {
  margin: 20px 0px;
}

.popup-termini div h1,
h2,
h3 {
  color: rgb(22, 22, 22);
}

.popup-Disclaimer {
  padding: 35px 30px;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  overflow-y: scroll;
  background-color: white;
  border: 1px #595858 solid;
  display: none;
  color: #595858;
}

.popup-Disclaimer .bottone button {
  padding: 10px 12px;
  position: absolute;
  right: 20px;
  border: none;
  background-color: #ded9d9;
}

.popup-Disclaimer div {
  margin: 20px 0px;
}

.popup-Disclaimer div h1,
h2,
h3 {
  color: rgb(22, 22, 22);
}

.partner {
  width: 84%;
  margin: 80px 8% 40px 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.partner .prima-col {
  width: 70%;
}

.partner .prima-col h4 {
  font-weight: 700;
  font-size: 42px;
  line-height: 125%;
  text-align: left;
  color: var(--yellow);
  padding-bottom: 20px;
}

.partner .sec-col a {
  height: min-content;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-decoration-line: underline;
  color: var(--blue);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  align-self: center;
  border-top: 1px solid #d4d1e2;
  width: 84%;
  margin: 40px 8% 0px 8%;
}

.alert-conferma {
  border: 2px solid #0e9f6e;
  border-radius: 8px;
  background: #def7ec;
  padding: 0px 20px;
  width: fit-content;
  position: fixed;
  top: -150px;
  right: 30px;
  transition: all 2s ease-in-out;
}
.alert-conferma p {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #0e9f6e;
  vertical-align: middle;
}

.testo-prima {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: var(--blue);
  margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .navbar .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
    transition: all 0.7s ease;
  }

  .navbar .nav-links.open {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    padding: 30% 0px;
    background-color: white;
    animation: example 0.2s ease-out;
  }

  .nav-links.open .link {
    font-size: 20px;
    margin: 20px 0px;
  }

  .nav-links.open .link button {
    font-size: 20px;
  }
  .navbar .logo a img {
    height: 40px;
    width: auto;
  }

  @keyframes example {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .chi-siamo {
    display: flex;
    flex-direction: column;
    margin-top: 500px;
  }
  .chi-siamo .col-testo {
    order: 1;
    width: 100%;
  }
  .chi-siamo .col-testo p {
    font-size: 16px;
  }
  .chi-siamo .col-img {
    order: 2;
    width: 100%;
    margin-top: 40px;
  }
  .partner {
    display: flex;
    flex-direction: column;
  }
  .partner .prima-col {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .header .testo h3 {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .header_graph {
    top: 58vh;
    width: 90%;
  }

  .info-grafico {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 0px;
  }

  .info-grafico .col-img {
    width: 90%;
    order: 1;
  }
  .info-grafico .col-img img {
    width: 100%;
  }

  .info-grafico .col-testo {
    margin-top: 20px;
    padding: 0px 8%;
    width: 100%;
    order: 2;
  }
  .grafico {
    width: 90%;
    margin: 30px 5% 80px 5%;
  }
  .youtube .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
  }

  .youtube .container .card {
    width: 100%;
    margin-top: 40px;
  }

  .youtube .container .card:nth-child(1) {
    margin-top: 0px;
  }
  .mail-container {
    display: flex;
    flex-direction: column;
  }
  .mail-container .col-testo {
    width: 100%;
  }
  .mail-container .col-mail {
    width: 100%;
    margin-top: 50px;
  }

  .col-mail .form {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-mail .form .casella {
    width: 100%;
    margin-top: 30px;
  }
  .popup-termini {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
  .popup-Disclaimer {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
  .grafico{
    border: 1px red solid;
  }
  .grafico canvas{
    border: 1px green solid;
  }
  
}
